.loginModal {
  .close-btn {
    position: relative;
    height: 37px;
    width: 34px;
    cursor: pointer;
    border: 1px solid #4169e1 !important;
    border-radius: 6px;
    color: #4169e1 !important;
    margin-left: 320px;

    .close-btn :hover {
      background-color: #000;
    }
  }
  .close-btn p {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    padding: 3px 10px;
    margin-bottom: 2px;
  }
}

.modalBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 16px;
  border-radius: 10px;

  img {
    margin-left: 70px;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 62%;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    justify-items: center;
    align-items: center;

    > p {
      font-weight: bolder;
    }
  }
  .loginForm {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    > div {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      > span {
        display: flex;
        width: 60px;
        justify-content: center;
      }
      > input {
        width: 80%;
        height: 35px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid rgb(221, 221, 221);
        color: rgb(51, 51, 51);
        margin-bottom: 5px;
      }
      > .eyeIcon {
        position: absolute;
        bottom: 10px;
        right: 5px;
        cursor: pointer;
      }
    }
    button {
      border: 0;
      background-color: transparent;
      padding: 6px;
      text-align: center;
      cursor: pointer;
    }
    > .btnLogin {
      border-radius: 10px;
      margin: 10px 0;
      font-size: 20px;
      font-weight: bolder;
      color: #fff;
      background-color: #4169e1;
    }
    > .btnLogin:hover {
      background-color: #395bc3;
    }
    > div {
      display: flex;
      justify-content: space-between;

      > .btnFind {
        width: 120px;
        border-bottom: 1px solid #9f9f9f;
        font-size: 14px;
        color: #7b7b7b;
      }
      > .btnFind:hover {
        font-weight: bolder;
      }
    }
  }
}
