#mainDiv {
  display: flex;
  justify-content: center;
  margin: 50px 0px 0px 0px;

  .contentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

    .headerDiv {
      display: flex;
      flex-direction: column;

      width: 100%;
      h1 {
        margin: 5px;
        font-weight: border;
        font-size: 30px;
      }
      p {
        margin: 5px;
        color: rgb(124, 120, 120);
      }
    }
    .main {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      width: 100%;
      height: auto;

      .tableDiv {
        display: flex;
        width: 100%;

        aside {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 30%;
          border: 1px solid #3a3b3b;
        }
        span {
          width: 70%;
          border: 1px solid #3a3b3b;
          padding: 50px;
          img {
            width: 50px;
          }
        }
      }
    }

    .footerDiv {
      display: flex;
      justify-content: center;
      width: 100%;
      border: 2px solid #c73cb4;
    }
  }
}

/* 마이페이지 메인 */
.myIndex {
  .aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-sizing: border-box;
    padding: 10px;

    height: 600px;
    border-right: 1px solid #9f9f9f;

    > div:nth-child(1) {
      margin-top: 20px;
      align-items: center;
      > img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      > label {
        display: flex;
        margin-top: 20px;
        align-items: center;
        cursor: pointer;
        > p {
          font-size: 20px;
          font-weight: bolder;
        }
        > p::after {
          content: " 님";
          font-weight: normal;
        }
        > svg {
          display: flex;
          margin-left: 10px;
        }
      }

      > h3 {
        font-size: 16px;
        margin-top: 10px;
      }
      > h3::after {
        content: "℃";
        font-weight: normal;
      }
    }
  }

  .myMain {
    display: flex;
    flex-direction: column;
    width: 900px;
    box-sizing: border-box;
    padding: 10px;

    height: 600px;

    > h1 {
      font-size: 20px;
      font-weight: bolder;
      margin: 20px 0 10px;
    }

    > div > .myProject {
      display: flex;
      padding: 20px 30px;
      justify-content: space-between;
      border: 1px solid #7b7b7b;
      border-radius: 10px;
      > div {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        > p {
          font-size: 18px;
          font-weight: bolder;
          color: #7b7b7b;
        }
        > h2 {
          font-size: 24px;
          font-weight: bolder;
          margin: 10px 0;
        }
        > h2:after {
          content: "건";
          font-size: 16px;
        }
        > h3 {
          cursor: pointer;
        }
        > h3::after {
          content: " >";
        }
      }
    }

    > div {
      display: flex;
      padding: 20px 30px;
      justify-content: space-between;
      > .myRank {
        display: flex;
        width: 200px;
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        > p {
          font-size: 18px;
          font-weight: bolder;
        }
        > h4 {
          font-size: 18px;
        }
      }
      > .skill1 {
        border: 1px solid #6f4e37;
        background-color: #a67b5b;
      }
      > .skill2 {
        border: 1px solid #b4b4b8;
        background-color: #c7c8cc;
      }
      > .skill3 {
        border: 1px solid #ffaf45;
        background-color: #ffc94a;
      }
      > .skill4 {
        border: 1px solid #088395;
        background-color: #37b7c3;
      }
      > .skill5 {
        border: 1px solid #4c3bcf;
        background-color: #4b70f5;
      }
    }
  }
}

/* 마이페이지 내 정보 수정 */
.myProfile {
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #088395;

  > h1 {
    font-size: 24px;
    font-weight: bolder;
    margin: 10px 0;
  }
  > h2 {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0 20px;
  }

  > .basicInfo {
    display: flex;
    border: 1px solid #37b7c3;
    .myThumb {
      position: relative;
      padding: 10px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      > img {
        width: 250px;
        height: 250px;
        border: 1px solid #3a3b3b;
      }
      > label {
        position: absolute;
        top: 20px;
        right: 20px;
        > svg {
          cursor: pointer;
        }
      }
      > input[type="file"] {
        display: none;
      }
    }

    .myInfo {
      padding: 10px 0 10px 40px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      > label {
        display: flex;
        margin-top: 10px;
        align-items: center;
        > h2 {
          font-size: 26px;
          font-weight: bolder;
          margin-bottom: 10px;
        }
        > h3 {
          font-size: 20px;
          font-weight: bolder;
          margin-right: 10px;
        }
        > h4 {
          font-size: 16px;
          color: #7b7b7b;
          margin-left: 10px;
        }
        > h5 {
          color: #7b7b7b;
          margin-left: 10px;
        }
        > input {
          display: flex;
          max-width: 240px;
          overflow: auto; /* 내용이 넘칠 경우 스크롤바 표시 */
          height: auto;
          font-size: 20px;
          padding: 4px 10px;
          margin-right: 10px;
          border: 1px solid white;
        }
        > svg {
          cursor: pointer;
        }
      }
      .validContext {
        display: flex;
        align-items: center;
        justify-content: start;
        color: red;
        letter-spacing: -0.001em;
        font-size: 13px;
      }
    }
  }
  > .mySkill {
    display: flex;
    border: 1px solid #37b7c3;
    flex-direction: column;
    padding: 10px;

    > .inputSkill {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
      justify-content: center;

      > .skillIconList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        width: 800px;
        padding: 10px 20px;
        font-size: 18px;
        border: 1px solid #7b7b7b;
        border-radius: 20px;
        > .skillIcons {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #e4e4e4;
          cursor: pointer;
          box-sizing: border-box;
          padding: 4px 10px;
          margin: 4px 8px;
          border-radius: 10px;
        }

        /** 클릭 되었을때 css*/
        .skillIconsClick {
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #e4e4e4;
          cursor: pointer;
          box-sizing: border-box;
          padding: 4px 10px;
          margin: 4px 8px;
          border-radius: 10px;
          background-color: #0090f9;
        }
        .skillIcons:hover {
          background-color: #0090f9;
        }
        > span {
          display: flex;
          margin-top: 12px;
          .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            font-weight: border;
            color: #000000;
            border-radius: 10px;
            border: none;
            padding: 10px;
            cursor: pointer;
            margin-left: 10px;
          }
          .add-btn {
            background-color: #0090f9;
            color: white;
          }

          .add-btn:hover {
            background-color: #0285e2;
          }

          .cancel-btn {
            background-color: #f44336;
            color: white;
          }

          .cancel-btn:hover {
            background-color: #da190b;
          }
        }
      }

      > label {
        display: flex;
        cursor: pointer;
        > p {
          margin-right: 4px;
        }
      }
    }

    > .skillList {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      > div {
        position: relative;
        display: flex;
        justify-content: center;
        border: 1px solid #4b70f5;
        border-radius: 10px;
        align-items: center;
        box-sizing: border-box;
        padding: 4px 10px;
        margin: 10px;
        cursor: pointer;
        > p {
          font-size: 16px;
          margin-left: 10px;
        }
        > .closeBtn {
          position: absolute;
          top: -4px;
          right: -6px;
          background-color: white;
          cursor: pointer;
        }
      }
    }
    .explainLevel {
      display: flex;
      justify-content: center;
      font-size: 14px;
      margin-top: 10px;
    }
  }
  .myExperience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #6f4e37 solid 1px;
    padding: 15px;

    > label {
      display: flex;
      justify-content: center;
      cursor: pointer;
      > p {
        font-size: 14px;
        margin-right: 5px;
      }
    }

    .jobForm {
      display: flex;
      flex-direction: row;
      padding: 15px;
      border-radius: 10px;
      border: #7b7b7b solid 1px;
      .MuiFormControl-fullWidth {
        display: flex;
        .wirtePeriod {
          margin-right: 15px;
          width: 35%;
          .MuiInputBase-root {
            width: 100%;
          }
        }
        .writeJob {
          margin-right: 15px;
          width: 45%;
          .MuiInputBase-root {
            width: 100%;
          }
        }
      }
    }
  }
}

#regionDiv {
  margin-right: 10px;
  border: 1px solid #e4e4e4;
  padding: 10px;
  width: 360px;
  height: auto;
  .regionLabel {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 5px;
    cursor: pointer;
    font-family: "Pretendard", "Malgun Gothic", dotum, gulim, sans-serif;
    color: #7b7b7b;
    .region-checkbox {
      //appearance: none;
      //-webkit-appearance: none;
      -moz-appearance: none;
      outline: none;
      border: none;
      width: 20px;
      height: 20px;
      position: relative;
      cursor: pointer;
      margin-right: 8px;
      align-items: center;
      justify-content: center;
    }
  }
}
