#mainDiv {
  display: flex;
  justify-content: center;
  margin: 50px 0px 0px 0px;

  .contentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

    .headerDiv {
      display: flex;
      flex-direction: column;

      width: 100%;
      h1 {
        margin: 5px;
        font-weight: border;
        font-size: 30px;
      }
      p {
        margin: 5px;
        color: rgb(124, 120, 120);
      }
    }
    .main {
      margin-top: 20px;
      display: flex;
      flex-direction: column;

      width: 100%;
      height: auto;

      .tableDiv {
        display: flex;
        width: 100%;

        aside {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 30%;
          border: 1px solid #3a3b3b;
        }
        span {
          width: 70%;
          border: 1px solid #3a3b3b;
          padding: 50px;
          img {
            width: 50px;
          }
        }
      }
    }

    .footerDiv {
      display: flex;
      justify-content: center;
      width: 100%;
      border: 2px solid #c73cb4;
    }
  }
}

/* 마이페이지 메인 */
.myIndex {
  .aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    box-sizing: border-box;
    padding: 10px;

    height: 600px;
    border-right: 1px solid #9f9f9f;

    > div:nth-child(1) {
      margin-top: 20px;
      align-items: center;
      > img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      > label {
        display: flex;
        margin-top: 20px;
        align-items: center;
        cursor: pointer;
        > p {
          font-size: 20px;
          font-weight: bolder;
        }
        > p::after {
          content: " 님";
          font-weight: normal;
        }
        > svg {
          display: flex;
          margin-left: 10px;
        }
      }
      
      > h3 {
        font-size: 16px;
        margin-top: 10px;
      }
      > h3::after {
        content: "℃";
        font-weight: normal;
      }
    }
  }

  .myMain {
    display: flex;
    flex-direction: column;
    width: 900px;
    box-sizing: border-box;
    padding: 10px;

    height: 600px;
    
    > h1 {
      font-size: 20px;
      font-weight: bolder;
      margin: 20px 0 10px;
    }

    > div > .myProject {
      display: flex;
      padding: 20px 30px;
      justify-content: space-between;
      border: 1px solid #7b7b7b;
      border-radius: 10px;
      > div {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        > p {
          font-size: 18px;
          font-weight: bolder;
          color: #7b7b7b;
        }
        >h2 {
          font-size: 24px;
          font-weight: bolder;
          margin: 10px 0;
        }
        >h2:after {
          content: "건";
          font-size: 16px;
        }
        > h3 {
          cursor: pointer;
        }
        > h3::after {
          content: " >";
        }
        
      }
    }

    > div {
      display: flex;
      padding: 20px 30px;
      justify-content: space-between;
      > .myRank {
        display: flex;
        width: 200px;
        padding: 10px 20px;
        margin-bottom: 10px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        > p {
          font-size: 18px;
          font-weight: bolder;
        }
        > h4 {
          font-size: 18px;
        }
      }
      > .skill1 {
        border: 1px solid #6F4E37;
        background-color: #A67B5B;
      }
      > .skill2 {
        border: 1px solid #B4B4B8;
        background-color: #C7C8CC;
      }
      > .skill3 {
        border: 1px solid #FFAF45;
        background-color: #FFC94A;
      }
      > .skill4 {
        border: 1px solid #088395;
        background-color: #37B7C3;
      }
      > .skill5 {
        border: 1px solid #4C3BCF;
        background-color: #4B70F5;
      }
    }
  }
}

/* 마이페이지 내 정보 수정 */
.myProfile {
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
  border: 1px solid #088395;

  > h1 {
    font-size: 24px;
    font-weight: bolder;
    margin: 10px 0;
  }
  > h2 {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0 20px;
  }

  > .basicInfo {
    display: flex;
    border: 1px solid #37B7C3;
    .myThumb {
      position: relative;
      padding: 10px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      > img {
        width: 250px;
        height: 250px;
      }
      > label {
        position: absolute;
        top: 20px;
        right: 20px;
        > svg {
          cursor: pointer;
        }
      }
      > input[type="file"] {
        display: none;
      }
    }

    .myInfo {
      padding: 10px 0 10px 40px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      > h3 {
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 10px;
      }
      > h4 {
        font-size: 26px;
        font-weight: bolder;
        margin-bottom: 10px;
      }

      > label {
        display: flex;
        margin-bottom: 10px;
        > h3 {
          font-size: 20px;
          margin-right: 20px;
        }
        > h4 {
          font-size: 20px;
          margin-right: 20px;
        }
      }
    }
  }

}
