/* article 공통 */
.cateOn {
    color: #4169e1!important;
}
.tabOn {
    border: 1px solid #4169e1!important;
    color: #4169e1!important;
}

/* article - list */
.articleCate {
    margin: 20px 10px;
    p {
        font-size: 24px;
        font-weight: bolder;
        padding: 4px 10px;
        cursor: pointer;
    }

    p:hover {
        color: #4169e1;
    }
}

.articleSearch {
    margin: 20px;
    p {
        font-size: 20px;
        font-weight: bolder;
        padding: 4px 14px;
        margin-right: 20px;
        cursor: pointer;
        border: 1px solid #9f9f9f;
        border-radius: 6px;
    }

    p:hover {
        border: 1px solid #4169e1;
        color: #4169e1;
    }

    label {
        width: auto;
        display: flex;
        border: 1px solid #9f9f9f;
        border-radius: 6px;
        padding: 0 10px;
        margin-left: auto;

        select {
            padding-right: 4px;
            border: 0;
            outline: none;
            cursor: pointer;
            font-size: 16px;
            border-right: 1px solid #9f9f9f;
            option {
                cursor: pointer;
                font-size: 16px;
            }
        }
        input {
            width: 200px;
            border: 0;
            margin: 0 8px;
            font-size: 16px;
        }
        button {
            font-size: 16px;
            padding-left: 10px;
            border-style: none;
            border-left: 1px solid #9f9f9f;
            background-color: transparent;
            cursor: pointer;
        }

    }
}
.articleList {
    display: flex;
    margin: 20px 20px;
    border-top: 1px solid #9f9f9f;
    .articleBox {
        border-bottom: 1px solid #9f9f9f;
        padding: 10px;
        * {
            display: flex;
            align-items: center;
        }
        > div {
            align-items: center;
            img {
                width: 26px;
                margin: 2px 10px 2px 0;
            }
            p {
                font-size: 16px;
                color: #1e1e1e;
                margin-right: 10px;
            }
            p:nth-last-child(1) {
                margin-left: auto;
            }
            a {
                width: 100%;
                font-size: 20px;
                font-weight: bolder;
                padding: 4px 0;
            }
        }
        .tagBox {

            a {
                width: auto;
                font-size: 16px;
                font-weight: normal;
                margin-right: 6px;
                color: #1e1e1e;
            }
            a:hover {
                color: #4169e1;
            }
        }
        > div:nth-child(2):hover {
            a {
                color: #4169e1;
            }
        }
        > div:nth-last-child(1) {
            justify-content: space-between;

            h3 {
                font-size: 16px;
                color: #FF0000;
                margin: 0 10px 0 4px;
            }
            h2 {
                font-size: 16px;
                color: #1e1e1e;
                margin: 0 10px 0 4px;
            }
        }
    }
}
.pageAndBtn {
    display: flex;
    margin: 20px 20px 0 130px;
    .paging {
        width: 940px;
    }
    > button {
        width: 100px;
        height: 31px;
        box-sizing: border-box;
        background-color: transparent;
        border: 1px solid #9f9f9f;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bolder;
        padding: 4px 16px;
        cursor: pointer;
    }
}

/* article - write */
.articleTitle {
    margin: 20px 30px;
    justify-content: space-between;
    input {
        width: 920px;
        height: 40px;
        padding: 0 20px;
        border: 1px solid #9f9f9f;
        border-radius: 4px;
        font-size: 16px;
    }
    select {
        width: 200px;
        padding: 0 10px;
        border: 1px solid #9f9f9f;
        border-radius: 4px;
        font-size: 16px;
        option {
            font-size: 16px;
        }
    }
}
.articleWrite {
    margin: 10px 30px;
    .toastui-editor-defaultUI {
        width: 1138px;
        border: 1px solid #9f9f9f;
        border-radius: 4px;
        font-size: 16px;
    }
}

.articleTag {
    margin: 10px 30px;
    input[type="text"] {
        height: 40px;
        padding: 0 10px;
        border: 1px solid #9f9f9f;
        border-radius: 4px;
        font-size: 16px;
    }
    > div {
        padding: 10px 0;
        margin-top: 10px;
        span {
            border: 1px solid #9f9f9f;
            border-radius: 4px;
            font-size: 16px;
            padding: 4px 10px;
            margin-right: 10px;
            margin-bottom: 6px;
            color: #4169e1;
        }
    }
}
.articleFile {
    height: 40px;
    margin: 10px 30px;
    border: 1px solid #9f9f9f;
    border-radius: 4px;
    align-items: center;

    input[type="file"] {
        width: 240px;
        padding: 0 10px;
        font-size: 16px;
        cursor: pointer;
        border-right: 1px solid #9f9f9f;
    }
    .selected {
        display: flex;
        padding: 0 10px;
        margin-left: 10px;
        span {
            margin-right: 20px;
        }
    }
}
.writeBtn {
    display: flex;
    justify-content: end;
    margin: 20px 30px;
    button {
        display: flex;
        background-color: transparent;
        border: 1px solid #9f9f9f;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bolder;
        padding: 8px 16px;
        margin-left: 10px;
        cursor: pointer;
    }
    .blue {
        border: 1px solid #4169e1;
        background-color: #4169e1;
        color: white;
    }
}

/*** article - view ***/
.viewTitle {
    margin: 30px 30px 0px;
    > div {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #9f9f9f;
        h1 {
            font-size: 18px;
            font-weight: bolder;
        }
        img {
            width: 26px;
            margin: 2px 10px 2px 0;
        }
        p {
            font-size: 16px;
            color: #1e1e1e;
            margin-right: 10px;
        }
        p:nth-last-child(1) {
            margin-left: auto;
        }
        > div {
            display: flex;
            margin-left: auto;
            justify-content: space-between;
            h3 {
                font-size: 16px;
                color: #FF0000;
                margin: 0 10px 0 4px;
            }
            h2 {
                font-size: 16px;
                color: #1e1e1e;
                margin: 0 10px 0 4px;
            }
        }
    }
    > div:nth-child(1) {
        padding-bottom: 4px;
        span, h4 {
            color: #7b7b7b;
        }
        button {
            background-color: white;
            border: 1px solid #7b7b7b;
            border-radius: 4px;
            margin-left: 10px;
            padding: 2px 4px;
            font-size: 12px;
            color: #1e1e1e;
            cursor: pointer;
        }
    }
}
.viewContents {
    margin: 0 30px;
    padding: 10px;
    min-height: 300px;
    border-bottom: 1px solid #9f9f9f;
}

.viewFile {
    margin: 0 30px;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid #9f9f9f;

    p {
        padding: 0 10px;
        font-weight: bolder;
    }
    span {
        color: #1e1e1e;
        display: flex;
        margin: 0 10px;
        padding: 4px 8px;
        border: 1px solid #7b7b7b;
        border-radius: 4px;
        cursor: pointer;
    }
    span:after {
        display: flex;
        content: '';
        width: 16px;
        height: 16px;
        background-image: url(../../public/images/article/download.svg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 10px;
    }
}

.viewHeart {
    margin: 0 30px;
    padding: 10px 0;
    justify-content: center;
    button {
        width: 100px;
        height: 40px;
        font-size: 18px;
        background-color: transparent;
        border-radius: 4px;
        margin: 0 10px;
        color: white;
        cursor: pointer;
    }
    button:nth-child(1) {
        border: 1px solid #c42121;
        background-color: #ff2b2b;
    }
    button:nth-child(2) {
        border: 1px solid #2a51c6;
        background-color: #3769ff;
    }
}
.viewModify {
    margin: 0 30px;
    padding: 10px 0;
    justify-content: end;
    button {
        padding: 4px 10px;
        font-size: 16px;
        background-color: transparent;
        border: 1px solid #7b7b7b;
        border-radius: 4px;
        margin-left: 10px;
        cursor: pointer;
    }
}

.writeComment {
    margin: 50px 30px 20px;
    padding-bottom: 20px;
    border-top: 1px solid #7b7b7b;
    border-bottom: 1px solid #7b7b7b;

    * {
        display: flex;
    }
    > p {
        font-size: 16px;
        padding: 10px 0 10px 10px;
        border-bottom: 1px solid #7b7b7b;
    }
    > div:nth-child(2) {
        padding: 10px 0 4px 10px;
    }
    > div {
        align-items: center;
        padding: 0 10px;
        img {
            width: 26px;
            margin: 2px 10px 2px 0;
        }
        p {
            font-size: 16px;
            font-weight: bolder;
            color: #1e1e1e;
            margin-right: 10px;
        }
        textarea {
            width: 100%;
            height: 70px;
            resize: none;
            border: 1px solid #7b7b7b;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 10px;
        }
        button {
            width: 70px;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            font-size: 16px;
            background-color: transparent;
            border: 1px solid #7b7b7b;
            border-radius: 4px;
            box-sizing: border-box;
            cursor: pointer;
        }
    }
}
.viewComment {
    margin: 0px 30px 20px;
    padding: 0 10px;
    > div {
        border-bottom: 1px solid #7b7b7b;
        margin-bottom: 20px;
        > div {
            display: flex;
            img {
                width: 26px;
                margin: 2px 10px 2px 0;
            }
            p {
                font-size: 16px;
                color: #1e1e1e;
                margin-right: 10px;
            }
            p:nth-child(2) {
                font-weight: bolder;
            }
            div:nth-last-child(1) {
                margin-left: auto;
            }
            button {
                justify-content: center;
                align-items: center;
                margin-left: 4px;
                padding: 2px 6px;
                font-size: 14px;
                background-color: transparent;
                border: 0;
                border-radius: 4px;
                box-sizing: border-box;
                cursor: pointer;
                span {
                    padding-left: 4px;
                    color: #FF0000;
                }
            }
        }
        textarea {
            width: 100%;
            height: 70px;
            resize: none;
            border: 0;
            box-sizing: border-box;
            padding: 10px;
        }
    }
}