#selectLanguage {
    width: 100%;
    height: 1000px;
    border: 1px, solid, red;
    padding: 30px;

    .languages {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        .selectLanguage {
            width: 100%;
            border: 1px, solid, blue;
        }

        h3 {
            display: block;
            width: 100%;
            padding-left: 30px;
            font-size: 1.17em;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }

        .languageIcon {
            display: flex;
            align-items: center;
            width: 200px;
            margin: 10px;
            padding: 5px 10px;
            border: 1px solid #ccc;
            border-radius: 20px;
            background-color: #f9f9f9;

            &.selectedLanguage {
                background-color: #e1f5fe;
                border-color: #4169e1;
                box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
                border-radius: 20px; // 선택된 아이콘의 모서리를 둥글게 설정
            }

            .logo {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }

            .languageName {
                font-size: 15px;
                font-weight: 550;
                color: #333;
                padding: 5px 8px;
            }
        }
    }
}

#languageTitle {
    width: 90%;
    margin: 0 auto 10px auto;
    font-size: xx-large;
}

#questionList {
    display: flex;
    flex-direction: column;

    .questionContent {
        display: flex;
        width: 90%;
        height: 150px;
        border: 1px solid #4169e1;
        margin: 0 auto 10px auto;
        background-color: transparent;

        .questionTag {
            text-align: left;
            width: 100%;
            height: 50px;
            padding: 5px;
        }

        .questionNo {
            margin-left: 3%;
            margin-right: auto;
            font-size: 20px;
        }

        .questionTitle {
            margin-left: auto;
            margin-right: 5%;
            text-align: end;
            font-size: 20px;
            padding-right: 10px;
        }

    }
}





#questionView {
    height: 800px;

    #questionInfo {
        height: 800px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px;



        h2 {
            font-size: xx-large;
        }

        h3 {
            display: inline-flex;
            position: relative;
            font-size: x-large;
            border-bottom: #4169e1 3px solid;
            padding-bottom: 1px;
            margin-top: 20px;
            margin-left: 10px;
            margin-bottom: 20px;
        }

        p {
            margin-left: 10px;
        }
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        color: #333;
        height: 50px;
        margin: 30px;

        .navbar-links {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            height: 100%;

            li {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-right: 20px;
                color: #333;
                /* Dark color for the links */
                text-decoration: none;
                font-size: 18px;
                position: relative;
                /* Needed for positioning the underline */
                transition: color 0.3s;

            }

            li:hover {
                background-color: #5e77c4;
                color: #fff;
            }

            .clicked {
                background-color: #4169e1;
            }
        }
    }
}

// 임재 왔다감
// grade 메인
#gradeIndex {

    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 10px;

    .gradeAd {
        display: flex;
        width: 100%;
        height: 300px;
        background-image: url(../../public/images/grade/adad.png);
    }

    section {
        display: flex;
        width: 100%;

        .aside {
            display: flex;
            flex-direction: column;
            width: 300px;
            align-items: center;

            >img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
            }

            >h3 {
                font-size: 18px;
            }
        }

        .gradeCnt {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 880px;

            >.gradeBack {
                border: 1px solid #7b7b7b;
                border-radius: 20px;
                padding: 10px;

                >p {
                    font-size: 20px;
                    margin: 4px 0 20px 4px;
                    align-self: flex-start;
                }
            }

            >.gradeChart {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                >a {
                    align-self: flex-end;
                }
            }

            >.gradeTable {
                display: flex;
                width: 800px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-sizing: content-box;
                margin-top: 20px;

                >table {
                    width: 100%;
                    border-collapse: collapse;

                    tr {
                        >td {
                            font-size: 16px;
                            border-top: 1px solid #9f9f9f;
                            border-bottom: 1px solid #9f9f9f;
                            text-align: center;
                            padding: 4px 10px;

                            >a {
                                font-size: 16px;
                            }
                        }

                        >td:nth-child(3) {
                            text-align: left;
                        }
                    }

                    tr:nth-child(1)>td {
                        text-align: center;
                    }
                }
            }
        }
    }
}