/*** 기본 설정 ***/
* {
    margin: 0;
    padding: 0;
    font: normal 14px 'Noto Sans KR', sans-serif;
    
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: #111;
}
input,textarea {
    outline: none;
    box-sizing: border-box;
}
div {
    box-sizing: border-box;
}
#container {
    width: 100%;
    height: auto;
}
header {
    position: fixed;
    display: flex;
    border: 1px solid blue;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: white;
}
main {
    display: flex;
    border: 1px solid red;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
#contentArea {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid orange;
}
footer {
    display: flex;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: #ededed;
}

/*** 공통 스타일 ***/

/* 태그 내부 콘텐츠 가로 배치*/
.cntRow {
    display: flex;
}
/* 태그 내부 콘텐츠 세로 배치*/
.cntColumn {
    display: flex;
    flex-direction: column;
}
/* 태그 내부 콘텐츠 가로 배치 + 자동 줄바꿈 */
.cntWrapRow {
    display: flex;
    flex-wrap: wrap;
}

/*** 페이징 ***/
.paging {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    button {
        display: flex;
        font-size: 16px;
        font-weight: bolder;
        border-bottom: 2px solid transparent;
        background-color: transparent;
        color: #1e1e1e;
        border-style: none;
        padding: 4px 8px;
        margin: 0 2px;
        cursor: pointer;
        box-sizing: border-box;
    }
    button:hover {
        color: #4169e1;
        border-bottom: 2px solid #4169e1;
    }
    .btnOn {
        color: #4169e1;
        border-bottom: 2px solid #4169e1;
    }
}
/*** 빵가루 (Breadcrumb) ***/
.Breadcrumb {
    position: relative;
    display: flex;
    margin: 10px 20px 0 20px;
    span {
        display: flex;
        width: 100%;
        height: 10px;
        border-bottom: 1px solid #9f9f9f;
    }
    p {
        position: absolute;
        right: 20px;
        display: flex;
        padding: 0 10px;
        background-color: white;
    }
}

/*** 메인 페이지 ***/
.adBox {
    width: 100%;
    height: 200px;
    border: 1px solid green;
}
.searhBox {
    display: flex;
    width: 100%;
    height: auto;
    border: 1px solid yellow;
    padding: 15px;
    justify-content: space-between;
    
    select {
        width: 200px;
        height: 30px;
        box-sizing: border-box;
        cursor: pointer;
    }

    input {
        width: 200px;
        height: 30px;
        box-sizing: border-box;
    }

    button {
        width: 50px;
        height: 30px;
        cursor: pointer;
    }

}

.mainGatherList {
    width: 100%;
    height: auto;
    border: 1px solid red;

     > .gathCard {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 365px;
        margin: 15px 14.5px;
        padding: 0 15px;
        background-color: white;
        border: 1px solid blue;
        border-radius: 10px;
        box-sizing: border-box;

        > div > span {
            font-size: 16px;
            padding: 4px;
            margin: 10px 0;
            border: 1px solid red;
            border-radius: 4px;
        }

        div {
            h3 {
                font-size: 16px;
            }
            h4 {
                font-weight: bolder;
                font-size: 16px;
                padding: 4px 0;
            }
            h5 {
                color: #7b7b7b;
            }
            > div {
                padding: 10px 0;
                span {
                    width: 25%;
                    border: 1px solid red;
                    border-radius: 4px;
                    margin-right: 8px;
                    text-align: center;
                }
            }
        }

        .gathCardContent {
            display: flex;
            align-items: center;

            .imgBox {
                margin: 10px 0;
                width: 30%;
                img {
                    width: 100%;
                }
            }
        }

    }
    .myGatherLink {
        display: flex;
        justify-content: space-around;
        width: 100%;
        padding: 10px 0;

        .gathLink {
            width: 25%;
            border: 1px solid blueviolet;
            border-radius: 4px;
            padding: 4px 8px;
            text-decoration: none;
            color: black;
            font-weight: bold;
            transition: background-color 0.3s;

            &:hover {
                background-color: lightblue;
            }
        }
    }
}

/** 모임 기술 이미지 */
.skillImg {
    width: 20px;
    height: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}

/** 등급 기술 이미지 */
.itungyun_skillImg {
    width: 20px;
    height: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}