/* 모임 메인 */
.mooimIndex {
    display: flex;
    flex-direction: column;

    > .Info {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        border-bottom: 3px solid #f6f5f5;

        > .mooimInfo {
            position: relative;
            display: flex;
            padding-top: 20px;

            /* 모임 프사 변경 버튼 */
            > svg {
                position: absolute;
                left: 200px;
                top: 30px;
                cursor: pointer;
            }

            > img {
                display: flex;
                width: 200px;
                height: 200px;
                margin: 0 20px;
            }
            > div {
                display: flex;
                flex-direction: column;
                margin-left: 20px;

                > h1 {
                    font-size: 22px;
                    font-weight: bolder;
                    margin-bottom: 10px;
                    > span {
                        font-size: 20px;
                        margin-left: 10px;
                    }
                }

                > label {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    > input {
                        font-size: 20px;
                        color: #7b7b7b;
                        border: 1px solid white;
                    }
                    > svg {
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }

                > div {
                    display: flex;

                    > h2 {
                        font-size: 20px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                    }
                    > h3 {
                        font-size: 20px;
                        margin-right: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        > .mooimProgress {
            display: flex;
            padding: 10px 0 20px;

            > div {
                display: flex;
                width: 100%;
                height: 40px;
                background-color: #d4dcf3;
                border-radius: 10px;

                > #bar {
                    position: relative;
                    display: flex;
                    background-color: #597add;
                    border-radius: 10px;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 20px;
                    padding: 10px;

                    > img {
                        position: absolute;
                        display: flex;
                        right: -35px;
                        width: 70px;
                        height: 70px;
                        //background-color: white;
                        //border: 1px solid #4169e1;
                        border-radius: 50%;
                        font-size: 18px;
                        justify-content: center;
                        align-items: center;
                    }
                }
                > #bar::after {
                    content: '%';
                }
            }
        }
    }

    > .function {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        padding: 20px 0;
        border-bottom: 3px solid #f6f5f5;

        > a {
            display: flex;
            width: 200px;
            height: 80px;
            border: 1px solid #111;
            border-radius: 20px;
            font-size: 20px;
            font-weight: bolder;
            align-items: center;
            justify-content: center;
        }

        > a:hover {
            background-color: #4169e1;
            color: white;
        }
    }

    > .memberList {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 20px;
        padding: 20px 0;
        border-bottom: 3px solid #f6f5f5;

        > .member {
            position: relative;
            display: flex;
            width: 360px;
            margin: 0 0 10px 0;
            padding: 10px;
            border: 1px solid #7b7b7b;
            border-radius: 20px;

            > img {
                display: flex;
                width: 80px;
                height: 80px;
                border: 1px solid #9f9f9f;
                border-radius: 50%;
            }

            > div {
                display: flex;
                flex-direction: column;
                margin-left: 10px;

                > h1 {
                    font-size: 16px;
                    font-weight: bolder;
                    margin-bottom: 4px;
                }

                > .skill {
                    display: flex;
                    flex-wrap: wrap;
                    > div {
                        display: flex;
                        padding: 4px;
                        border: 1px solid #111;
                        border-radius: 10px;
                        align-items: center;
                        margin: 0 10px 6px 0;

                        > span {
                            font-size: 16px;
                            margin-left: 4px;
                        }
                    }
                }
            }
            
            > .badge {
                position: absolute;
                top: 6px;
                right: 10px;
                font-size: 16px;
            }
        }
    }
}