/* 모임 메인 */
.mooimIndex {
    display: flex;
    flex-direction: column;

    > .Info {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        border-bottom: 3px solid #f6f5f5;

        > .mooimInfo {
            position: relative;
            display: flex;
            padding-top: 20px;

            /* 모임 프사 변경 버튼 */
            > svg {
                position: absolute;
                left: 200px;
                top: 30px;
                cursor: pointer;
            }

            > img {
                display: flex;
                width: 200px;
                height: 200px;
                margin: 0 20px;
            }
            > div {
                display: flex;
                flex-direction: column;
                margin-left: 20px;

                > h1 {
                    font-size: 22px;
                    font-weight: bolder;
                    margin-bottom: 10px;
                    > span {
                        font-size: 20px;
                        margin-left: 10px;
                    }
                }

                > label {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    > input {
                        font-size: 20px;
                        color: #7b7b7b;
                        border: 1px solid white;
                    }
                    > svg {
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }

                > div {
                    display: flex;

                    > h2 {
                        font-size: 20px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                    }
                    > h3 {
                        font-size: 20px;
                        margin-right: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }

        > .mooimProgress {
            display: flex;
            padding: 10px 0 20px;

            > div {
                display: flex;
                width: 100%;
                height: 40px;
                background-color: #d4dcf3;
                border-radius: 10px;

                > #bar {
                    position: relative;
                    display: flex;
                    background-color: #597add;
                    border-radius: 10px;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 20px;
                    padding: 10px;

                    > img {
                        position: absolute;
                        display: flex;
                        right: -35px;
                        width: 70px;
                        height: 70px;
                        //background-color: white;
                        //border: 1px solid #4169e1;
                        border-radius: 50%;
                        font-size: 18px;
                        justify-content: center;
                        align-items: center;
                    }
                }
                > #bar::after {
                    content: '%';
                }
            }
        }
    }

    > .function {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
        padding: 20px 0;
        border-bottom: 3px solid #f6f5f5;

        > button {
            display: flex;
            width: 200px;
            height: 80px;
            border: 1px solid #111;
            border-radius: 20px;
            background-color: transparent;
            font-size: 20px;
            font-weight: bolder;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        > button:hover {
            background-color: #4169e1;
            color: white;
        }
    }
}

.components {

    > .memberList {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 20px;
        padding: 20px 0;
        border-bottom: 3px solid #f6f5f5;

        > .member {
            position: relative;
            display: flex;
            width: 360px;
            margin: 0 0 10px 0;
            padding: 10px;
            border: 1px solid #7b7b7b;
            border-radius: 20px;

            > img {
                display: flex;
                width: 80px;
                height: 80px;
                border: 1px solid #9f9f9f;
                border-radius: 50%;
            }

            > div {
                display: flex;
                flex-direction: column;
                margin-left: 10px;

                > h1 {
                    font-size: 16px;
                    font-weight: bolder;
                    margin-bottom: 4px;
                }

                > .skill {
                    display: flex;
                    flex-wrap: wrap;
                    > div {
                        display: flex;
                        padding: 4px;
                        border: 1px solid #111;
                        border-radius: 10px;
                        align-items: center;
                        margin: 0 10px 6px 0;

                        > span {
                            font-size: 16px;
                            margin-left: 4px;
                        }
                    }
                }
            }
            
            > .badge {
                position: absolute;
                top: 6px;
                right: 10px;
                font-size: 16px;
            }
        }
    }

    > .chatting {
        display: flex;
        justify-content: center;
        margin: 0 20px;
        padding: 20px 0;

        > .chatRoom {
            display: flex;
            width: 1150px;
            height: 660px;
            border: 1px solid #9f9f9f;
            overflow: hidden;

            > .chatSide {
                display: flex;
                flex-direction: column;
                width: 250px;
                background-color: #56aaff;
                padding: 10px 0;

                > .chatMember {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 6px 14px;
                    margin-bottom: 10px;

                    > img {
                        width: 50px;
                        height: 50px;
                        border: 1px solid #9f9f9f;
                        border-radius: 50%;
                    }

                    > h1 {
                        font-size: 18px;
                        font-weight: bolder;
                        color: #FFFFFF;
                        margin: 0px 4px 0px 10px;
                    }
                    > span {
                        position: absolute;
                        left: 12px;
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                    }
                }
                > .chatMember:hover {
                    background-color: #308eee;
                }
            }

            > .chatCnt {
                display: flex;
                flex-direction: column;
                width: 900px;

                > .chatMsg {
                    display: flex;
                    flex-direction: column;
                    height: 540px;
                    overflow-y: auto;

                    > .msg {
                        display: flex;
                        margin-top: 10px;
                        padding: 6px 10px;

                        > img {
                            display: flex;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            margin-right: 10px;
                        }
                        > div {
                            display: flex;
                            flex-direction: column;

                            > h1 {
                                display: flex;
                                font-size: 16px;
                                font-weight: bolder;
                                align-items: center;
                                margin-bottom: 4px;
                                > span {
                                    font-size: 12px;
                                    color: #7b7b7b;
                                    margin-left: 10px;
                                }
                            }
                            > h2 {
                                display: flex;
                                font-size: 16px;
                                white-space: pre-line;
                            }
                            > img {
                                max-width: 300px;
                                max-height: 300px;
                                width: auto;
                                height: auto;
                                object-fit: contain;
                            }
                            > .normalImg {
                                border-radius: 10px;
                                border: 1px solid #d3d3d3;
                                cursor: zoom-in;
                            }
                            > .file {
                                display: flex;
                                border: 1px solid #9f9f9f;
                                border-radius: 10px;
                                background-color: white;
                                padding: 6px 20px 6px 10px;
                                align-items: center;
                                cursor: pointer;

                                > span {
                                    display: flex;
                                    background-color: #7b7b7b;
                                    border-radius: 10px;
                                    color: white;
                                    padding: 10px;
                                    margin-right: 10px;
                                }
                                > h1 {
                                    font-size: 16px;
                                    font-weight: bolder;
                                }
                            }
                            > .file:hover {
                                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);;
                                border: 1px solid #7b7b7b;
                            }
                        }
                    }
                    > .msg:hover {
                        background-color: #ededed;
                    }
                    > .myMsg {
                        display: flex;
                        flex-direction: row-reverse;
                        margin-top: 10px;
                        padding: 6px 10px;

                        > img {
                            display: flex;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            margin: 0 10px;
                        }
                        > div {
                            display: flex;
                            flex-direction: column;

                            > h1 {
                                display: flex;
                                flex-direction: row-reverse;
                                font-size: 16px;
                                font-weight: bolder;
                                align-items: center;
                                margin-bottom: 4px;
                                > span {
                                    font-size: 12px;
                                    color: #7b7b7b;
                                    margin: 0 10px;
                                }
                            }
                            > h2 {
                                display: flex;
                                flex-direction: row-reverse;
                                font-size: 16px;
                                white-space: pre-wrap;
                            }
                            > img {
                                max-width: 300px;
                                max-height: 300px;
                                width: auto;
                                height: auto;
                                object-fit: contain;
                            }
                            > .normalImg {
                                border-radius: 10px;
                                border: 1px solid #d3d3d3;
                                cursor: zoom-in;
                            }
                            > .file {
                                display: flex;
                                border: 1px solid #9f9f9f;
                                border-radius: 10px;
                                background-color: white;
                                padding: 6px 20px 6px 10px;
                                align-items: center;
                                cursor: pointer;

                                > span {
                                    display: flex;
                                    background-color: #7b7b7b;
                                    border-radius: 10px;
                                    color: white;
                                    padding: 10px;
                                    margin-right: 10px;
                                }
                                > h1 {
                                    font-size: 16px;
                                    font-weight: bolder;
                                }
                            }
                            > .file:hover {
                                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);;
                                border: 1px solid #7b7b7b;
                            }
                        }
                    }
                    > .myMsg:hover {
                        background-color: #ededed;
                    }
                }

                > .chatInput {
                    display: flex;
                    position: relative;
                    justify-content: center;
                    height: 120px;
                    align-items: center;

                    > .inputBox {
                        display: flex;
                        flex-direction: column;
                        width: 880px;
                        border: 1px solid #bbbabb ;
                        border-radius: 10px;
                        overflow: hidden;

                        > .chatTool {
                            display: flex;
                            padding: 6px 10px;
                            background-color: #f8f8f8;
                            border-bottom: 1px solid #bbbabb;
                            > svg {
                                cursor: pointer;
                                margin-right: 10px;
                            }
                        }

                        > textarea {
                            display: flex;
                            padding: 10px;
                            font-size: 16px;
                            border: 0;
                            background-color: transparent;
                            resize: none;
                        }
                    }
                    > .EmojiModal {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        top: -290px;
                        left: 10px;
                        width: 382px;
                        height: 300px;
                        background-color: white;
                        border: 1px solid #bbbabb;
                        border-radius: 10px;
                        overflow: hidden;
                        > .EmojiHead {
                            display: flex;
                            padding: 0 10px;
                            height: 40px;
                            background-color: #f8f8f8;
                            border-bottom: 1px solid #bbbabb;
                            align-items: center;
                            > button {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 32px;
                                height: 32px;
                                font-size: 20px;
                                margin-right: 4px;
                                border: 0;
                                background-color: transparent;
                                cursor: pointer;
                            }
                            > .button-active {
                                border-bottom: 2px solid #308eee;
                            }
                            
                            > .button-inactive {
                            }
                        }
                        > .EmojiBody {
                            display: flex;
                            flex-wrap: wrap;
                            height: 260px;
                            padding: 10px;
                            overflow-y: scroll;
                            overflow-x: hidden;
                            align-content: flex-start;
                            > span {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 30px;
                                height: 30px;
                                font-size: 17px;
                                cursor: pointer;
                            }
                            > span:hover {
                                border-radius: 6px;
                                background-color: #308eee;
                            }
                        }
                    }
                    > .GifModal {
                        position: absolute;
                        display: flex;
                        flex-wrap: wrap;
                        top: -290px;
                        left: 10px;
                        width: 382px;
                        height: 300px;
                        background-color: white;
                        border: 1px solid #bbbabb;
                        border-radius: 10px;
                        padding: 10px;
                        overflow: hidden;
                        align-content: flex-start;

                        > img {
                            width: 110px;
                            height: 110px;
                            margin: 3px;
                            border: 2px solid white;
                            cursor: pointer;
                        }
                        > img:hover {
                            border: 2px solid #4169e1;
                        }
                    }
                }
            }
        }
        > .ImageModalBox {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 20;
    
            > .ImageModal {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                width: 1200px;
                height: 700px;
                background-color: rgba(128, 128, 128, 0.5);
                backdrop-filter: blur(10px); 
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
                padding: 8px;
                border-radius: 10px;
                z-index: 200;
                justify-content: center;
                align-items: center;
                overflow: hidden;
    
                > img {
                    max-width: 1100px;
                    max-height: 600px;
                    width: auto;
                    height: auto;
                    object-fit: contain;
                    transition: transform 0.3s ease;
                }
                > .SliderContainer {
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: rgba(255, 255, 255, 0.8);
                    padding: 10px;
                    border-radius: 5px;
                }
                
                > .SliderContainer input[type="range"] {
                    width: 200px;
                }
            }
        }
    }
    > .kanbanPage {
        display: flex;
        justify-content: center;
        margin: 0 20px;
        padding: 20px 0;

        > .kanban {
            display: flex;
            justify-content: space-between;
            width: 1150px;
            height: 660px;

            > .board {
                display: flex;
                flex-direction: column;
                width: 370px;
                padding: 10px;

                background-color: #ebebeb;
                border: 1px solid #b8b8b8;
                border-radius: 10px;

                > h1 {
                    font-size: 20px;
                    font-weight: bolder;
                    padding-bottom: 10px;
                }
                > .itemBox {
                    display: flex;
                    height: 570px;
                    flex-direction: column;
                    overflow: scroll;
                    scrollbar-width: none;

                    > .item {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 80px;
                        padding: 10px;
                        margin-bottom: 10px;
    
                        background-color: white;
                        border: 1px solid #b8b8b8;
                        border-radius: 10px;
                        cursor: grab;

                        > label {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            > h2 {
                                display: flex;
                                font-size: 16px;
                            }
                            > img {
                                display: flex;
                                width: 25px;
                                height: 25px;
                                border: 1px solid #9f9f9f;
                                border-radius: 50%;
                            }
                        }
                        
                        > h3 {
                            display: flex;
                            font-size: 18px;
                        }
                    }
                    > .selected {
                        border: 1px solid #4169e1;
                    }
                }

                > .add {
                    display: flex;
                    font-size: 16px;
                    font-weight: bolder;
                    padding-top: 10px;
                    cursor: pointer;
                }
            }
        }
        > .KanbanInfoModalBox {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 20;
    
            > .KanbanInfoModal {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                width: 600px;
                height: 600px;
                background-color: white;
                border: 1px solid #111;
                border-radius: 10px;
                z-index: 200;
                overflow: hidden;
                padding: 10px;
                
                > .infoHead {
                    display: flex;
                    flex-direction: column;
                    border-bottom: 1px solid #111;

                    > .infoTitle {
                        display: flex;
                        align-items: center;

                        > h1 {
                            font-size: 20px;
                        }
                        > h2 {
                            font-size: 20px;
                            margin-left: 10px;
                        }
                    }

                    > .infoState {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        padding-bottom: 10px;

                        > span {
                            font-size: 16px;
                            border: 1px solid #111;
                            border-radius: 10px;
                            padding: 4px 10px;
                        }

                        > div {
                            display: flex;
                            margin-left: 10px;

                            > span {
                                font-size: 18px;
                                border: 1px solid #111;
                                border-radius: 10px;
                                padding: 4px 10px;
                                margin-right: 10px;
                            }
                        }
                    }
                }

                > .infoBody {
                    display: flex;
                    height: 100%;
                    border: 1px solid #111;
                    border-radius: 10px;
                    margin-top: 20px;

                    > .bodyCnt {
                        display: flex;
                        width: 100%;
                        flex-direction: column;

                        > .cntHead {
                            display: flex;
                            justify-content: space-between;
                            height: 40px;
                            border-bottom: 1px solid #111;
                            align-items: center;
                            padding: 10px;
                            margin-bottom: 10px;

                            > h1 {
                                display: flex;
                                font-size: 20px;
                            }
                            > button {
                                display: flex;
                                font-size: 14px;
                            }
                        }

                        input {
                            border: 0;
                            font-size: 18px;
                        }

                        > .checkBox {
                            display: flex;
                            padding: 4px 10px;
                            > input[type="checkbox"] {
                                margin-right: 4px;
                            }
                        }

                        > .textBox {
                            display: flex;
                            padding: 4px 10px 4px 20px;
                            > h1 {
                                font-size: 18px;
                                margin-right: 4px;
                            }
                        }
                    }
                }
            }
        }
    }
}
    .calendarContent{
        .toastui-calendar-popup-container {
            z-index: 220;
        }
        > .dateSpan {
            font-size: 22px;
            font-weight: 600;
            margin: 20px;
        }
        .controllBtn {
            margin: 10px;
        }
    }

}

